@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
html {
    scroll-behavior: smooth;
}

body{
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
  }

/* Reusable clasess */
/*=============== REUSABLE CSS CLASSES ===============*/
.header{
    width: 100%;
    background:white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
  
.grid {
    display: grid;
    gap: 1.5rem;
}
  
.section {
    padding: 4.5rem 0 2rem;
}
  
.nav-link{
    color: inherit;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* Home */
.home{
    gap: 0;
  }
  
.home__container{
    padding: 7rem 0 2.5rem;
    /* background: linear-gradient(160deg, hsla(206,5%,24%,1)-4%, hsla(206,12%,12%,1)46%
    ); */
    background-image: url(../assets/home.jpg);
      /* background-attachment: fixed; */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
      width: 100%;
}

.home-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.home-subtitle{
    text-align: center;
}
  
.slogan{
    color: #fff;
    text-align: center;
    margin-top: 6rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}



/* Units */
.units{
    gap: 0;
}
    
.title{
    color: #ffaefb;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 2rem auto;
    width: 67px;
    height: 2px;
    background-color: #ffaefb;
    
}


/* Services */
.services{
    background-color: #e0e0e02f;
}


/* About Us */

.about-us{
    --bs-gutter-x: 0;
}

.world-map{
    margin-left: 0;
  
}

.about__text{
    color: #000000;
    padding: 0 5% 0 5%;
    text-align: justify;
}

.about__category{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 2.5rem;
}

.about-number{
    color: #ffaefb;
}


/*   */
.parall{
    background-color: #e0e0e02f;
} 


.accordion{
    margin-bottom: 3rem;
}

.accordion-header{
    text-align: center;
}



.navbar{
    color: #005993;
    box-shadow: 0 8px 6px -6px rgb(39 39 39 / 15%);
}


.card-item{
    padding-top: 5%;
}

.card{
    margin-top: 2rem;
}

.c{
    background-color: rgba(0, 0, 0, 0.4);
}

.ct{
    color: white;
    text-align: center;
}

.cb{
    padding: 2.5rem;
}

.Custom_Button{
    width: 100%;
    border-radius: 0%;
    background-color: #ffaefb;
    height: 4rem;
}

.Custom_Button:hover{
    background-color: #005993;
    border-color: #005993;
}

.contact-row{
    margin-top: 5%;
}

.empleado-lista{
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/* Media queries */
@media screen and (min-width: 576px) {
    .contenedor{
        max-width: 100%;
        margin-bottom: 3rem;
    }

    .title::before{
        margin: 3rem auto;
    }

    .card{
        margin-left: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
        
    }

    .about__text{
        margin-top: 3rem;
        text-align: left;
    }

    .world-map{
        z-index: 1;
        
    }

}


@media screen and (min-width: 1200px){
    .contenedor{
        max-width: 100%;
        margin-bottom: 3rem;
    }

    .title::before{
        margin: 3rem auto;
    }

    .card{
        margin-left: 2rem;
        margin-top: 2rem;
        margin-right: 2rem;
        
    }

    .about__text{
        margin-top: 3rem;
        text-align: left;
    }

    .world-map{
        z-index: 1;
        
    }

}

/* Swiper */
.swiper {
    width: 90%;
}

.swiper-img{
    object-fit: cover;
    max-height: 400px;
}

.swiper-slide
{
    padding-bottom: 5%;
}

@media screen and (max-device-width: 1000px){
    .swiper-button-next
    {
        visibility: hidden;
    }

    .swiper-button-prev
    {
        visibility: hidden;
    }
}
.swiper-wrapper{
    
    width: 90%;
}

.swiper-card{
    margin-left: 0;
    margin-right: 0;
}

/* Counter */
*{
    padding:0;
    margin:0;
  }
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
      background: #030303;
    height: 100vh;
  }
  
  .value {
    font-size: 2em;
    display: block;
    color: #ffaefb;
  }

  /* parallax */
.parallax {
background-image: url("../assets/employees.jpg");

min-height: 500px; 

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

@media only screen and (max-device-width: 1000px) {
    .parallax {
        background-attachment: scroll;
    }
}

.parallax-subtitle{
    text-align: center;
    color: #ca070f;
}

.parallax__container{
    padding-top: 2%;
}

.me-4{
    font-size: 2.5rem;
}


/*  */
